.box {
  animation-name: changeBgColor;
  width: 500px;
  height: 500px;
  background-color: teal;
  animation-iteration-count: 5;
}
.box:hover {
  animation-name: changeBgColor;
  animation-duration: 3000ms;
}

@keyframes changeBgColor {
  0% {
    background-color: teal;
  }

  50% {
    background-color: orange;
  }

  100% {
    background-color: deepskyblue;
  }
}
